@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  width: 10vw; /* set the width based on viewport width */
  height: 10vw; /* set the height based on viewport width */
  min-width: 40px; /* minimum icon size */
  min-height: 40px; /* minimum icon size */
  max-width: 64px; /* maximum icon size */
  max-height: 64px; /* maximum icon size */
}

@layer base {
  html,
  body {
    color: white; /* ensure all text is white */
    background: linear-gradient(135deg, #000000 20%, #655f5f 100%);
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  table,
  th,
  td,
  a {
    font-family: "Futura", sans-serif;
  }
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/futura-condensed-pt-medium.woff2") format("woff2"),
    url("/fonts/futura-condensed-pt-medium.woff") format("woff"),
    url("/fonts/futura-condensed-pt-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.img-invert {
  filter: invert(1); /* invert png logos */
}

@keyframes fadeInScale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(0.5);
  }
}

.logo-enter {
  animation: fadeInScale 1s ease-in-out backwards;
}
