@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  width: 10vw; /* set the width based on viewport width */
  height: 10vw; /* set the height based on viewport width */
  min-width: 40px; /* minimum icon size */
  min-height: 40px; /* minimum icon size */
  max-width: 64px; /* maximum icon size */
  max-height: 64px; /* maximum icon size */
}

@layer base {
  html,
  body {
    color: white; /* ensure all text is white */
    background: linear-gradient(135deg, #000000 20%, #655f5f 100%);
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  table,
  th,
  td,
  footer,
  a {
    font-family: "IBMPlexMono", sans-serif;
  }
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Regular.woff") format("woff"),
    url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.img-invert {
  filter: invert(1); /* invert png logos */
}

@keyframes fadeInScale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(0.5);
  }
}

.logo-enter {
  animation: fadeInScale 1s ease-in-out backwards;
}

@layer base {
  /* Define base styles for navigation links */
  .link,
  .link div {
    /* Apply styles to both links and div within links */
    font-family: "IBMPlexMono", sans-serif; /* Use custom font */
    color: white; /* Set text color */
    font-size: 1.25rem; /* Set a specific font size */
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
  }

  .link:hover,
  .link div:hover {
    color: #cccccc; /* Change hover color */
  }

  .dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black; /* Color for dropdown links */
    background-color: white; /* Background for dropdown links */
    font-family: "IBMPlexMono", sans-serif; /* Ensure dropdown items use the same font */
    font-size: 1rem; /* Slightly smaller font size for dropdown items */

    &:hover {
      background-color: #e0e0e0; /* Light grey on hover */
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor-pulse::after {
  content: "|";
  animation: pulse 1s infinite;
  opacity: 1; /* Ensures it starts fully visible */
}
